"*":
  "advanced-open-file":
    fuzzyMatch: true
  "autocomplete-plus":
    minimumWordLength: 2
  core:
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "node_modules"
      "vendor"
      ".tags*"
    ]
    packagesWithKeymapsDisabled: [
      "graphviz-preview"
    ]
    themes: [
      "atom-dark-ui"
      "atom-material-syntax"
    ]
  editor:
    preferredLineLength: 99
    tabType: "soft"
  "env-from-shell":
    autoRun: true
  "exception-reporting":
    userId: "7fdd3e3a-5462-0605-ac3d-e233b2493740"
  "find-and-replace":
    focusEditorAfterSearch: true
  linter:
    errorPanelHeight: 10
    showErrorTabFile: false
    showErrorTabLine: true
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-erb":
    erbExecutablePath: "/home/astrauka/.rbenv/shims/erb"
    rubyExecutablePath: "/home/astrauka/.rbenv/shims/ruby"
  "linter-eslint":
    disableWhenNoEslintConfig: false
  "linter-flow":
    executablePath: "/home/astrauka/.nvm/versions/node/v6.3.0/bin/flow"
  "linter-rubocop":
    command: "/home/astrauka/.rbenv/shims/rubocop"
  "linter-ruby":
    rubyExecutablePath: "/home/astrauka/.rbenv/shims/ruby"
  "project-manager":
    alwaysOpenInSameWindow: true
    closeCurrent: true
  "rspec-tree-runner":
    rspecPathCommand: "bundle exec spring rspec"
  "ruby-test":
    rspecAllCommand: "bundle exec spring rspec --tty spec"
    rspecFileCommand: "bundle exec spring rspec --tty {relative_path}"
    rspecSingleCommand: "bundle exec spring rspec --tty {relative_path}:{line_number}"
    specFramework: "rspec"
  "save-autorun": {}
  "save-commands":
    suppressPanel: true
  "tool-bar":
    visible: false
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    focusOnReveal: false
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".ansi.text":
  editor:
    preferredLineLength: 99
    showIndentGuide: true
".hackfragment.source":
  editor:
    preferredLineLength: 99
".hg-commit.text":
  editor:
    preferredLineLength: 99
".shell-session.text":
  editor:
    preferredLineLength: 99
".shell.source":
  editor:
    preferredLineLength: 99
"autocomplete-plus":
  suppressActivationForEditorClasses: [
    "vim-mode-plus.normal-mode"
    "vim-mode-plus.visual-mode"
    "vim-mode-plus.operator-pending-mode"
    "vim-mode-plus.insert-mode.replace"
  ]
