'body':
  'alt-w': 'core:close'
  'ctrl-w': 'unset!'
  'ctrl-w ctrl-w': 'window:focus-next-pane'
  'ctrl-tab ^ctrl': 'unset!'

'atom-workspace':
  'alt-o': 'unset!'

'.platform-linux atom-text-editor':
  'alt-o': 'symbols-view:go-to-declaration'

'.platform-win32, .platform-linux':
  'cmd-f': 'find-and-replace:toggle'
  'ctrl-o': 'tree-view:reveal-active-file'
  'cmd-shift-f': 'project-find:show'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-j': 'editor:add-selection-below'
  'ctrl-shift-k': 'editor:add-selection-above'

'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'cmd-d': 'find-and-replace:select-next'

'.platform-linux atom-workspace':
  'ctrl-shift-y': 'unset!'
  'ctrl-shift-c': 'unset!'
  'ctrl-shift-e': 'unset!'
  'ctrl-shift-r': 'unset!'
  'ctrl-shift-t': 'unset!'
  'ctrl-shift-x': 'unset!'
  'cmd-shift-c': 'ruby-test:cancel'
  'cmd-shift-e': 'ruby-test:test-previous'
  'cmd-shift-r': 'ruby-test:test-single'
  'cmd-shift-t': 'ruby-test:test-file'
  'cmd-shift-x': 'ruby-test:toggle'
  'cmd-shift-y': 'ruby-test:test-all'
  'ctrl-shift-Y': 'copy-path:copy-line-reference'

'atom-text-editor.vim-mode-plus':
  'ctrl-c': 'unset!'
  'ctrl-r': 'unset!'
  'ctrl-t': 'unset!'
