'packages': [
  'about'
  'archive-view'
  'atom-beautify'
  'atom-dark-syntax'
  'atom-dark-ui'
  'atom-light-syntax'
  'atom-light-ui'
  'atom-material-syntax'
  'atom-mocha'
  'auto-run'
  'autocomplete-atom-api'
  'autocomplete-css'
  'autocomplete-html'
  'autocomplete-modules'
  'autocomplete-plus'
  'autocomplete-snippets'
  'autoflow'
  'autosave'
  'background-tips'
  'base16-tomorrow-dark-theme'
  'base16-tomorrow-light-theme'
  'bookmarks'
  'bracket-matcher'
  'browser-plus'
  'busy-signal'
  'change-case'
  'color-picker'
  'command-palette'
  'copy-path'
  'cucumber'
  'deprecation-cop'
  'dev-live-reload'
  'encoding-selector'
  'env-from-shell'
  'erb-snippets'
  'exception-reporting'
  'file-icons'
  'find-and-replace'
  'fuzzy-finder'
  'git-diff'
  'git-plus'
  'go-to-line'
  'goto'
  'goto-definition'
  'grammar-selector'
  'haskell-grammar'
  'highlight-selected'
  'hyperclick'
  'image-view'
  'incompatible-packages'
  'intentions'
  'jumpy'
  'keybinding-resolver'
  'language-babel'
  'language-c'
  'language-clojure'
  'language-coffee-script'
  'language-csharp'
  'language-css'
  'language-dot'
  'language-gfm'
  'language-git'
  'language-go'
  'language-html'
  'language-hyperlink'
  'language-ini'
  'language-java'
  'language-javascript'
  'language-json'
  'language-less'
  'language-make'
  'language-mustache'
  'language-objective-c'
  'language-ocaml'
  'language-perl'
  'language-php'
  'language-property-list'
  'language-python'
  'language-ruby'
  'language-ruby-on-rails'
  'language-sass'
  'language-scala'
  'language-shellscript'
  'language-source'
  'language-sql'
  'language-swift'
  'language-text'
  'language-thrift'
  'language-todo'
  'language-toml'
  'language-xml'
  'language-yaml'
  'line-ending-selector'
  'link'
  'linter'
  'linter-erb'
  'linter-eslint'
  'linter-flow'
  'linter-rubocop'
  'linter-ruby'
  'linter-ui-default'
  'markdown-preview'
  'markdown-table-formatter'
  'merge-conflicts'
  'metrics'
  'n-panes'
  'nerd-treeview'
  'notifications'
  'one-dark-syntax'
  'one-dark-ui'
  'one-light-syntax'
  'one-light-ui'
  'open-on-github'
  'package-cop'
  'package-generator'
  'package-settings'
  'pane-move-plus'
  'parcel'
  'pigments'
  'platformio-ide-terminal'
  'prettier-atom'
  'process-palette'
  'project-manager'
  'ruby-test'
  'ruby-test-switcher'
  'settings-view'
  'snippets'
  'solarized-dark-syntax'
  'solarized-light-syntax'
  'sort-lines'
  'spell-check'
  'status-bar'
  'styleguide'
  'symbols-view'
  'tabs'
  'timecop'
  'toggle-quotes'
  'tool-bar'
  'tree-view'
  'update-package-dependencies'
  'vim-mode-plus'
  'welcome'
  'whitespace'
  'wrap-guide'
  'dalek'
]
