[
  {
    title: "Analytics"
    paths: [
      "/home/astrauka/dev/vinted/analytics"
    ]
    settings:
      "ruby-test":
        rspecAllCommand: "bundle exec rspec --tty spec"
        rspecFileCommand: "bundle exec rspec --tty {relative_path}"
        rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
        specFramework: "rspec"
  }
  {
    title: "Core"
    paths: [
      "/home/astrauka/dev/vinted/core"
    ]
    settings:
      "ruby-test":
        rspecAllCommand: "bundle exec spring rspec --tty spec"
        rspecFileCommand: "bundle exec spring rspec --tty {relative_path}"
        rspecSingleCommand: "bundle exec spring rspec --tty {relative_path}:{line_number}"
        specFramework: "rspec"
  }
  {
    title: "Chef"
    paths: [
      "/home/astrauka/dev/vinted/chef"
    ]
  }
  {
    title: "Dotfiles"
    paths: [
      "/home/astrauka/dotfiles"
    ]
  }
  {
    title: "React Webpack Rails Tutorial"
    paths: [
      "/home/astrauka/dev/vinted/tmp/react-webpack-rails-tutorial"
    ]
  }
  {
    title: "Rollout"
    paths: [
      "/home/astrauka/dev/vinted/rollout"
    ]
  }
  {
    title: "Warehouse Jobs"
    paths: [
      "/home/astrauka/dev/vinted/warehouse-jobs"
    ]
    settings:
      "ruby-test":
        rspecAllCommand: "(cd oozie && bundle exec rspec --tty spec)"
        rspecFileCommand: "(cd oozie && bundle exec rspec --tty ../{relative_path})"
        rspecSingleCommand: "(cd oozie && bundle exec rspec --tty ../{relative_path}:{line_number})"
        specFramework: "rspec"
  }
  {
    title: "Http Relay"
    paths: [
      "/home/astrauka/dev/vinted/http-relay"
    ]
  }
  {
    title: "Event Tracker"
    paths: [
      "/home/astrauka/dev/vinted/event-tracker"
    ]
  }
  {
    title: "Devbook"
    paths: [
      "/home/astrauka/dev/vinted/devbook"
    ]
  }
  {
    title: "Vinted Github Io"
    paths: [
      "/home/astrauka/dev/vinted/vinted.github.io"
    ]
  }
  {
    title: "Redux Form"
    paths: [
      "/home/astrauka/dev/vinted/tmp/redux-form"
    ]
  }
  {
    title: "Pronto-eslint"
    paths: [
      "/home/astrauka/dev/vinted/pronto-eslint"
    ]
  }
  {
    title: "Pronto"
    paths: [
      "/home/astrauka/dev/vinted/pronto"
    ]
    settings:
      "ruby-test":
        rspecAllCommand: "bundle exec rspec --tty spec"
        rspecFileCommand: "bundle exec rspec --tty {relative_path}"
        rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
        specFramework: "rspec"
  }
  {
    title: "Admin"
    paths: [
      "/home/astrauka/dev/vinted/admin"
    ]
  }
  {
    title: "Hubot"
    paths: [
      "/home/astrauka/dev/vinted/hubot"
    ]
  }
  {
    title: "Herd"
    paths: [
      "/home/astrauka/dev/vinted/Herd"
    ]
  }
  {
    title: "Babel Plugin I 18 N Replace"
    paths: [
      "/home/astrauka/dev/vinted/babel-plugin-i18n-replace"
    ]
  }
  {
    title: "Pmazeika - ceph"
    paths: [
      "/home/astrauka/dev/vinted/tmp/pmazeika"
    ]
  }
  {
    title: "Svc Config Manager"
    paths: [
      "/home/astrauka/dev/vinted/svc-config-manager"
    ]
  }
  {
    title: "Hw Provisioning"
    paths: [
      "/home/astrauka/dev/vinted/hw-provisioning"
    ]
  }
  {
    title: "Ansible Repo"
    paths: [
      "/home/astrauka/dev/vinted/ansible-repo"
    ]
  }
  {
    title: "Svc Metrics Api"
    paths: [
      "/home/astrauka/dev/vinted/svc-metrics-api"
    ]
  }
  {
    title: "Svc Schema Registry"
    paths: [
      "/home/astrauka/dev/vinted/svc-schema-registry"
    ]
  }
  {
    title: "Camus"
    paths: [
      "/home/astrauka/dev/vinted/camus"
    ]
  }
  {
    title: "Svc Abs"
    paths: [
      "/home/astrauka/dev/vinted/svc-abs"
    ]
    settings:
      "ruby-test":
        rspecAllCommand: "bundle exec rspec --tty spec"
        rspecFileCommand: "bundle exec rspec --tty {relative_path}"
        rspecSingleCommand: "bundle exec rspec --tty {relative_path}:{line_number}"
        specFramework: "rspec"
  }
  {
    title: "Create React App"
    paths: [
      "/home/astrauka/dev/vinted/tmp/my-app"
    ]
  }
  {
    title: "Svc Event Passage"
    paths: [
      "/home/astrauka/dev/vinted/svc-event-passage"
    ]
  }
  {
    title: "Sensu Plugins Kafka"
    paths: [
      "/home/astrauka/dev/vinted/sensu-plugins-kafka"
    ]
  }
  {
    title: "Svc Kafka Mysql Bridge"
    paths: [
      "/home/astrauka/dev/vinted/svc-kafka-mysql-bridge"
    ]
  }
  {
    title: "Test RSpec"
    paths: [
      "/home/astrauka/dev/python/TestRSpec"
    ]
  }
  {
    title: "Cs Tool"
    paths: [
      "/home/astrauka/dev/vinted/cs-tool"
    ]
  }
  {
    title: "Awesome Project"
    paths: [
      "/home/astrauka/dev/react/AwesomeProject"
    ]
  }
  {
    title: "Rn Workshop"
    paths: [
      "/home/astrauka/dev/react/rn-workshop"
    ]
  }
  {
    title: "Javascript"
    paths: [
      "/home/astrauka/exercism/javascript"
    ]
  }
  {
    title: "Images"
    paths: [
      "/home/astrauka/dev/vinted/images"
    ]
  }
  {
    title: "Svc Location"
    paths: [
      "/home/astrauka/dev/vinted/svc-location"
    ]
  }
  {
    title: "Svc Videos"
    paths: [
      "/home/astrauka/dev/vinted/svc-videos"
    ]
  }
  {
    title: "People"
    paths: [
      "/home/astrauka/dev/vinted/people"
    ]
  }
  {
    title: "React On Rails 6 10"
    paths: [
      "/home/astrauka/dev/vinted/tmp/react-on-rails-6_10"
    ]
  }
]
