analytics:
  title: "Analytics"
  paths: [
    "/home/astrauka/dev/vinted/analytics"
  ]
core:
  title: "Core"
  paths: [
    "/home/astrauka/dev/vinted/core"
    "/home/astrauka/dev/vinted/core/client/node_modules"
  ]
chef:
  title: "Chef"
  paths: [
    "/home/astrauka/dev/vinted/chef"
  ]
dotfiles:
  title: "Dotfiles"
  paths: [
    "/home/astrauka/dotfiles"
  ]
reactwebpackrailstutorial:
  title: "React Webpack Rails Tutorial"
  paths: [
    "/home/astrauka/dev/vinted/tmp/react-webpack-rails-tutorial"
  ]
rollout:
  title: "Rollout"
  paths: [
    "/home/astrauka/dev/vinted/rollout"
  ]
warehousejobs:
  title: "Warehouse Jobs"
  paths: [
    "/home/astrauka/dev/vinted/warehouse-jobs"
  ]
httprelay:
  title: "Http Relay"
  paths: [
    "/home/astrauka/dev/vinted/http-relay"
  ]
eventtracker:
  title: "Event Tracker"
  paths: [
    "/home/astrauka/dev/vinted/event-tracker"
  ]
devbook:
  title: "Devbook"
  paths: [
    "/home/astrauka/dev/vinted/devbook"
    "/home/astrauka/dev/vinted/devbook/backend/core/how-to"
  ]
vintedgithubio:
  title: "Vinted Github Io"
  paths: [
    "/home/astrauka/dev/vinted/vinted.github.io"
  ]
reduxform:
  title: "Redux Form"
  paths: [
    "/home/astrauka/dev/vinted/tmp/redux-form"
  ]
