'.source.ruby':
  # rspec
  'RSpec.describe':
    'prefix': 'RSpec'
    'body': """
      RSpec.describe $1 do
        describe '${2:.for}' do
          $3
        end
      end
    """
  'subject':
    'prefix': 'subj'
    'body': 'subject { ${1:described_class}.${2:for}($3) }'
  'describe':
    'prefix': 'desc'
    'body': """
      describe '$1' do
        $2
      end
    """
  'context':
    'prefix': 'con'
    'body': """
      context '$1' do
        $2
      end
    """
  'it':
    'prefix': 'it'
    'body': """
      it '$1' do
        $2
      end
    """
  'it { is_expected':
    'prefix': 'itis'
    'body': 'it { is_expected.to ${1} }'

  # ruby
  'attr_read':
    'prefix': 'attr_'
    'body': """
      attr_reader ${1:attributes}

      def initialize(${1})
        ${1}
      end
    """
  'self.for':
    'prefix': 'self'
    'body': """
      self.${1:for}(${2:*args})
        new(${3:args}).${4:run}
      end
    """
